/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Hanken+Grotesk:ital,wght@0,400..900;1,400..900&family=Noto+Sans:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet');

/* CSS Variables */
:root {
  --primary-font: "Hanken Grotesk", sans-serif;
  --secondary-font: "Noto Sans", sans-serif;
  --third-font: "Barlow", sans-serif;
  --primary-colour: #f9f9f9;
  --secondary-colour: #ff7b3f; 
  --bg-dark: #151515; 
  --accent-colour: #ff4828; 
  --muted-gray: #8f908e; 
}

/* Global styles */

body {
  font-family: var(--secondary-font);
  padding-top: 57.15px;
  background-color: var(--bg-dark);
  color: #f9f9f9;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--primary-colour);
  text-transform: uppercase;
}

#header h1,
#about h1, #success h1, #marathons h1 {
    font-weight: 800;
}

h2 {
  margin-bottom: 2rem;
  font-family: var(--third-font);
}

.sub-heading {
  color: var(--primary-colour);
  font-family: var(--third-font);
  font-weight: lighter;
}

.section {
  padding: 1rem 0 0 4rem;
}

hr {
    display: block;
    position: relative;
    padding: 10 0;
    margin: 20px auto 47px auto;
    height: 0;
    width: 10%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
 }


/* Buttons */
.custom-button-filled {
  border: 2px solid var(--secondary-colour);
  background-color: var(--secondary-colour);
  color: white;
}

.custom-button-filled:hover {
  border: 2px solid var(--accent-colour);
  background-color: var(--accent-colour);
  color: white;
}

.custom-button-outline {
  border: 3px solid var(--secondary-colour);
  padding: 7px 25px;
  color: var(--secondary-colour);
}

.custom-button-outline:hover {
  background-color: var(--accent-colour);
  color: white;
}

/* Navbar */
#navbar {
  background-color: var(--bg-dark);
  text-transform: uppercase;
  font-family: var(--third-font);
  font-size: 1.3rem;
}

#navbar .logo {
  width: 100px;
}

/* Header */
#header .lead {
  font-family: var(--secondary-font);
}

#header {
  width: 100%;
  height: auto;
}

header .carousel {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  width: auto;
  height: auto;
  overflow: hidden;
}

/* Reasons to run */
#reasons .card-title {
  background-color: transparent;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

#reasons .card-body {
  background-color: #151515;
  border-color: white;
  color: var(--primary-colour);
  border-width: 1px;
  border-radius: 0;
  font-family: var(--secondary-font);
}

/* Join runs */
#joinruns .table {
  /* TODO: 
      weekly run table font size small enough that 
      the table doesn't overflow on xs screens. 
      Size set back to 1rem in a media query 
      for sm screens and up */
  font-size: 0.9rem;
}

.limited-space {
  background-color: transparent;
  border: thin solid red;
  font-weight: bold;
  font-family: var(--third-font);
  color: white;
  display: block;
  max-width: 300px;
  margin: auto;
  padding: 5px 10px;
  font-size: 1.1rem;
}

#joinruns .card {
  margin-bottom: 1.5rem;
}

#signup-form {
  position: relative;
  z-index: 2;
  padding: 2rem;
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); 
  border-radius: 8px;
}

/* Incredible Marathon cards */
#breathtaking-m .card,
#quirky-m .card {
  border: none;
}

#breathtaking-m .card-title,
#quirky-m .card-title {
  font-weight: bold;
  text-align: center;
}

/* Success page */
.background-image {
    background-image: url("../images/manyrunninglegs.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center;
    position: relative;
  }
  
  .overlay {
    position: absolute center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  #success .card {
    max-width: 60%;
  }

/* Footer / contact */
#contact {
  background-color: var(--bg-dark);
  color: white;
  padding-bottom: 3rem;
}

#contact h2 {
  color: white;
}

#contact .sub-heading-color {
  color: var(--muted-gray);
}

#contact i {
  color: var(--primary-colour);
  font-size: 1.2rem;
  margin-right: 15px;
}

#contact .social-links i {
  color: var(--secondary-colour);
  font-size: 1.9rem;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
  color: var(--accent-colour);
}

.table-dark * {
  background-color: transparent;
}

/* Media queries */

/* Media devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .media-query {
    min-height: 191px;
  }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
  .media-query {
    min-height: auto;
  }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .media-query {
    min-height: 220px;
  }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  .media-query {
    min-height: 195px;
  }
}
